<div id="<%= dom_id todo %>" class="p-4 border-2 rounded-xl w-full max-w-lg min-w-80">
  <p class="w-fit">
    <strong>Title:</strong>
    <%= todo.title %>
  </p>

  <p class="w-fit">
    <strong>Completed:</strong>
    <span class="<%= todo.completed? ? "text-green-500" : "text-red-500"%>">
      <%= todo.completed === "completed" ? "Completed" : "Not completed" %>
    </span>
  </p>

  <p>
    <strong>Assignees:</strong>
    <%= todo.assignees %>
  </p>

</div>
